@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

pre {
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
}
